[database]
path = database/data.db
backupsFolder = database/backups

[commands]
folder = workplace/Commands

[termhog]
themeFilePath = tools/Termhog/Themes/8colors.json

[getter]
clasterSize = 5

[processing]
taskFilePath = configs/tasks.json