[database]
path = database/data.db
backupsFolder = database/backups

[commands]
folder = workplace/Commands

[hog]
themeFilePath = tools/Termhog/Themes/8colors.json


[processing]
threadCount=8
taskFilePath = configs/tasks.json