[database]
path = database/data.db
backupsFolder = database/backups

[commands]
folder = workplace/Commands

[termhog]
themeFilePath = configs/TermhogThemes/8colors.json

[getter]
clasterSize = 5

[web]
webFilePath = configs/web.json

[processing]
taskFilePath = configs/tasks.json

[workbook]
workbookFilePath = configs/workbook.json

[demon]
modelFolder = Demon
numWorkers = 1